html, body {
  margin: 0;
  padding-bottom: 200px;
  overflow: auto;
  height: 100%;
}

.leaderboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sort-buttons,
.level-buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 12px;
}

.level-buttons {
    margin-bottom: 20px;
}