html, body {
  margin: 0;
  overflow: auto;
  height: 100%;
  padding-bottom: 200px;
}

.comparison-row {
    display: flex;
    align-items: center;
    gap: 20px;
}

.comparison-img {
    max-width: 300px;
}

.comparison_arrow {
    font-size: 2em;
}