html, body {
  margin: 0;
  padding: 0;
  overflow: auto;  /* Prevents scrolling hidden*/
  height: 100%;
}

.game-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 20px;
  padding: 20px;
}

.game-box {
  flex: 1;
}

#leaderboardFrame {
  flex: 1;
  border: 1px solid #ccc;
}
