<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Explanation Webpage</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styleexplanation.css') }}">
</head>
<body>   
    <h1>Explanation of Game Mechanics</h1>
    <p>
        Sokoban is a classic puzzle game orignally created by Hiroyuki Imabayashi (1982) where the player pushes boxes around a space, trying to get them to designated locations. <br>
        The player can only push one box at a time and cannot pull boxes. The must push these boxes into the designed target positions. <br>
        The goal is to move all boxes to their target positions in the least number of moves and time.
    </p>
    <p>
        The following symbolisation is used in the game:
        <ul>
            <li><strong>Player:</strong> The character you control, represented by a <strong style="color: green;">green</strong> triangle.</li>
            <li><strong>Boxes:</strong> The squares you need to push, represented by a <strong style="color: blue;">blue</strong> square.</li>
            <li><strong>Goals:</strong> The designated positions for the boxes, represented by a <strong style="color: red;">red</strong> square.</li>
            <li><strong>Walls:</strong> The squares that cannot be crossed by the player or boxes, represented by a <strong style="color: black;">black</strong> square.</li>
        </ul>
        As well as the following controls:
        <ul>
            <li><strong>Arrow Keys:</strong> Move the player in the corresponding direction.</li>
            <li><strong>Z:</strong> Undo a move</li>
            <li><strong>X:</strong> Redo a move</li>
        </ul>

        **Note:** If the game is not responding to input, try clicking on the game area to focus it.
    </p>
    <h1>Explanation of Custom Levels Creator</h1>
    <p> 
        The custom levels page includes a custom level creator where you can send in your own level idea. <br>
        In order to sumbit a level, you must give both an image of the the level and a name. <br>
        Below you can find a template for creating your own level:
    </p>
    <a href="{{ url_for('static', filename='images/15by15grid.png') }}" download="15by15grid.png">
        <button type="button">Download 15x15 Grid Template</button>
    </a>
    <p>
        **Note** For the best results, try to fully color in the squares. <br>
        The following is an example of colored in image and grid: 
    </p>
    <div class="comparison-images">
        <img src="{{ url_for('static', filename='images/15by15gridexample.png') }}" alt="Grid Example" style="max-width: 220px;">
        <span class="comperision_arrow">&#8594;</span>
        <img src="{{ url_for('static', filename='images/15by15result.png') }}" alt="Result Example" style="max-width: 220px;">
    </div>
</body>
</html>