<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://cdn.jsdelivr.net/npm/p5@1.11.8/lib/p5.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/p5@1.11.8/lib/addons/p5.sound.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/stylegameengine.css') }}">
    <meta charset="utf-8" />

  </head>
  <body>
    <main>
    </main>
    <div class="game-wrapper">
      <div class="game-main">
        <h2>Level: {{ selected_level }}</h2>
        <button id="resetButton">Reset Level</button>
        <button id="gameleaderboardButton">Display Level Leaderboard</button>
        <p id="moveCounter">Moves: 0</p>
        <p id="timer">Time: 0.0s</p>
        <p id="winMessage"></p>
        <div id="canvas-holder"></div>
      </div>
      <div class="game-leaderboard">
        <iframe id="gameleaderboardFrame" src="" width="350" height="500" frameborder="0"></iframe>
      </div>
    </div>
    <script src="{{ url_for('static', filename='js/functions.js') }}"></script>
    <script src="{{ url_for('static', filename='js/sketch.js') }}"></script>
    <script>
      // Pass the username and level to the sketch.js script
      const json_config = {{ config | tojson | safe }};
      json_config.username = "{{ current_user.username }}";
      json_config.level = "{{ selected_level }}";
    </script>
    <script>
      document.getElementById("resetButton").addEventListener("click", () => {
        resetGame();
      });

      document.getElementById("gameleaderboardButton").addEventListener("click", () => {
        const level = json_config.level;
        const url = '/game_leaderboard/moves/' + level;
        console.log("Loading leaderboard URL:", url);
        document.getElementById("gameleaderboardFrame").src = '/game_leaderboard/moves/' + level;
      });

      window.addEventListener("keydown", function(e) {
        const keysToBlock = ["ArrowUp", "ArrowDown", "ArrowLeft", "ArrowRight"];
        if (keysToBlock.includes(e.key)) {
          e.preventDefault();
        }
      }, false);
    </script>
    
  </body>
</html>